version: '3.8'

services:
  internship-app:
    # build: .
    image: namvu26112005/internship-backend:v1
    container_name: internship-app
    ports:
      - "8082:8082" # Hardcode port luôn cho chắc, tránh lỗi biến PORT
    
    # --- PHẦN QUAN TRỌNG NHẤT: LOAD FILE .ENV ---
    env_file:
      - .env  # Tự động nạp toàn bộ biến trong file .env vào container
    # ----------------------------------------------

    environment:
      # Ghi đè URL Database để trỏ sang service mysql-db thay vì localhost
      # Lưu ý: ${DB_NAME} sẽ được lấy tự động từ env_file ở trên
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/${DB_NAME}?createDatabaseIfNotExist=true
      
      # Các biến khác (SMTP, CLOUDINARY...) KHÔNG CẦN KHAI BÁO LẠI Ở ĐÂY
      # Vì dòng env_file ở trên đã nạp hết rồi!

    depends_on:
      - mysql-db
    networks:
      - internship-network

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    env_file:
      - .env # Nạp file .env để lấy DB_PASSWORD, DB_NAME
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} # Hoặc DB_ROOT_PASSWORD nếu bạn có tạo
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - internship-network

networks:
  internship-network:
    driver: bridge

volumes:
  mysql-data: