name: CD - Deploy to EC2
on:
  workflow_run:
    workflows: ["CI - Build and Test"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_PRIVATE_KEY }}
          script: |
            # Di chuyển đến thư mục chứa docker-compose.yml trên EC2
            cd /home/ubuntu/docker_internship

            # Đăng nhập vào Docker Hub
            echo ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

            # Lấy các image mới nhất từ Docker Hub (Cập nhật image)
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/internship-backend:dev
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/internship-frontend:dev

            # *** BƯỚC DỌN DẸP AN TOÀN TRƯỚC KHI UP ***
            # Dừng và xóa services cũ (và các network/volume liên quan)
            docker-compose down -v --remove-orphans

            # Xóa các image DANGLE (không được gắn tag và không được dùng) 
            # để giải phóng dung lượng một cách an toàn hơn.
            echo "--- Cleaning up Dangle images ---"
            docker image prune -f

            # Khởi động lại các container với image mới
            docker-compose up -d
